/* 초기화 */
*{
    margin: 0;     /* (바깥) 여백 */
    padding: 0;   /* (안) 여백 */
}
html{
    scroll-behavior: smooth;   /* 스크롤 : 부드럽게 */
}

.bg-blue{
    background-color: #41ADFB; /*배경-색상*/
    height: 200px;               /* 높이 */
}
#avatar{
    background-color: goldenrod;
    width: 170px;         /* 가로폭 */
    height: 170px;        /* 세로 높이 */
    border-radius: 50%;   /* 테두리-반경*/
    overflow: hidden;     /* 넘친 범위를 숨겨줌 (원으로 만들어줌) */ 
    margin: 0 auto;       /* 가로 중앙에 배치 */
    position: relative;   /* 위치 : 상대적인 기준 */
    top: 90px;
}
.summary{
    width: 50%;          /* 가로 폭 */
    margin: 110px auto;      /* 여백 : 상,하0   좌,우 auto(알아서 */
    text-align: center;  /* 텍스트-정렬 : 가운데 */
}

.mbti{
    color: blueviolet;

}

.email {
    color: aquamarine;
}
.insta {
    color: deepskyblue;
}
.greeting {
    text-align: center;
}
.greeting h2{
    color:slategray;
    font-size: 22px;
}
.greeting p{
    color: burlywood;
}
.info{
    text-align: center;
}
.info h2{
    margin: 20px 0;    /* (바깥)여백 : 상하 20px , 좌우 0 */
    padding: 70px 0 0 0;
    
}

.info ul li {
    display: inline-block;
    margin: 25px;      /* (바깥)여백 : 상하좌우 모두 30px */
}
.info ul li p {
    margin: 30px 0;
}
.job-career {
    text-align: center;
    padding: 30px 0 0 0;
}
.job-career ul{
    margin: 30px 50px
}
.movie-list {
    text-align: center;
    padding: 30px 0 0 0;
}
.movie-list h2 {
    margin: 40px 0;
}


.movie-list li {
    display: inline-block;  /* 블럭인데 인라인처럼 배치하게 하는 속성 */
}
.movie-list li img {
    width: 100%
    object-fit cover; /* 사진의 크기를 공간에 알맞게 늘리거나 줄이기 */
}

.movie-list li p {
    padding: 10px 0 30px 0; /* 위 오른쪽 아래 왼쪽 순서로 여백 적용 */
}


.owner {
    background-color: #41ADFB;
    padding: 20px 0;
    text-align: center;
}

.owner p {
    display: inline-block;
    margin: 0 100px 0 0;
}

.owner p, .owner a {
    color: ghostwhite;
}









/* media query */
@media screen and (max-width: 480px) {
    #avatar-box{
        background-color: #FF3434;
    } 
}

